services:
  - type: web
    name: smart-horses-backend
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: FLASK_DEBUG
        value: False
      - key: PYTHON_VERSION
        value: 3.11.6
      - key: CORS_ORIGINS
        sync: false
